html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.main-page {
  margin: 0;
  padding: 0;
  min-width: 1280px;
  font: 16px/1em 'Roboto', sans-serif;
  overflow: show;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

.header__top {
  background-color: #333;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}

.header .header-top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  height: 35px;
  margin: 0 auto;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header .header-top .top__location {
  position: relative;
  padding: 0 0 0 28px;
}

.header .header-top .top__location::before {
  content: '';
  position: absolute;
  top: 49%;
  left: 0;
  width: 17px;
  height: 21px;
  margin-top: -10px;
  background: url(../img/main-page/sprite.png) -108px -69px no-repeat;
}

.header .header-top .top .top-location__link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #E9E9E9;
  letter-spacing: -0.1px;
  -webkit-transition: border-bottom 150ms ease-out;
  transition: border-bottom 150ms ease-out;
}

.header .header-top .top .top-location__link:hover {
  text-decoration: none;
  border-bottom: none;
}

.header .header-top .top .top-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 2px 0 0;
  padding: 0 0 0 52px;
}

.header .header-top .top .top-nav__item {
  margin-right: 5px;
}

.header .header-top .top .top-nav__link:link, .header .header-top .top .top-nav__link:visited {
  display: block;
  color: #E9E9E9;
  text-decoration: none;
  padding: 10px 8px;
  line-height: 16px;
  letter-spacing: -0.2px;
}

.header .header-top .top .top-nav__link:hover {
  border-bottom: 2.5px solid #0069a6;
}

.header .header-top .top .top-order_link {
  color: #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  cursor: pointer;
  letter-spacing: -0.2px;
}

.header .header-top .top .top-order_link:hover {
  border-bottom: none;
  -webkit-transition: border-bottom 150ms ease-out;
  transition: border-bottom 150ms ease-out;
}

.header-middle__wrap {
  width: 1310px;
  margin: 35px auto 0 auto;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.middle__logo {
  width: 290px;
  padding: 8px 0 0 9px;
  position: relative;
}

.middle__search {
  padding: 29px 0 0 40px;
}

.middle__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 0 20px;
  letter-spacing: -0.2px;
}

.logo__img {
  width: 100%;
}

.logo__text {
  width: 200px;
  font: 12px/1.25em 'Roboto';
  letter-spacing: -0.2px;
  position: absolute;
  top: 50px;
  left: 91px;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  height: 52px;
  padding-left: 16px;
  border: 2px solid #0069a6;
  border-right: none;
  font-size: 16px;
  color: #333;
}

.search__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 115px;
  height: 52px;
  padding: 14px 20px;
  border: 2px solid #0069a6;
  background: #0069a6;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.search__button:hover {
  background: #00537D;
}

.contact__box {
  padding: 13px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-box__text--main {
  font: 300 13px/1em 'Roboto';
  color: #333;
  padding-left: 53px;
  margin: 5px 0 4px 0;
}

.contact-box__text {
  font: lighter 13px/1em 'Roboto';
  color: #333;
  padding-left: 43px;
  margin: 5px -3px 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-box__link {
  text-decoration: none;
  font: bold 20px/1em 'Roboto';
  color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-box__link--main::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -10px;
  width: 18px;
  height: 23px;
  margin-top: -13px;
  background: url(../img/main-page/sprite.png) -108px -36px no-repeat;
}

.contact-box__link--main {
  font: bold 26px/1em 'Roboto';
  letter-spacing: 0;
  position: relative;
}

.contact-box__link--email {
  font: 17px/1em  'Roboto';
  text-decoration: underline;
  padding: 3px 0 0 0;
  letter-spacing: 1.1px;
}

.contact-box__text--wrap {
  padding: 35px 0 0 0;
  font: 15px/1em 'Roboto';
  font-weight: 300;
  color: #333;
}

.main__aside {
  width: 355px;
  max-height: 1115px;
  border-right: 2px solid #F8F8FA;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main .aside__list {
  position: relative;
  list-style: none;
  margin: -31px 0 0 8px;
  padding-left: 64px;
}

.main .aside__link--main {
  display: block;
  font: bold 26px/1em 'Roboto';
  letter-spacing: 0.7px;
  text-decoration: none;
  color: #333;
  padding: 10px 0 0 10px;
  margin: 0 0 -6px 0;
}

.main .aside__link--main::before {
  content: '';
  background-image: url(/img/aside/lg.png);
  position: absolute;
  width: 22px;
  height: 20px;
  top: 12px;
  left: 45px;
}

.main .aside__link--main:hover {
  color: #0069a6;
}

.main .aside__link {
  text-decoration: none;
  color: #333;
  font: bold 19px/1.1em 'Roboto';
  letter-spacing: -0.4px;
  position: relative;
}

.main .aside__link:hover {
  color: #0069a6;
}

.main .aside__link::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  background-image: url(/img/main-page/sprite.png);
  background-position: -100px -101px;
  background-repeat: no-repeat;
  top: 11px;
  left: -14px;
}

.main .aside__item {
  padding-bottom: 28px;
  padding-right: 45px;
}

.main .aside__manager {
  background: #F8F8FA;
  margin: 50px 0 0 64px;
  padding: 38px 0;
  text-align: center;
}

.main .aside .manager__img {
  border-radius: 50%;
  border: 2px solid #0069a6;
  width: 128px;
}

.main .aside .manager__name {
  color: #333;
  font: 16px/1em 'Roboto';
  margin-bottom: 5px;
}

.main .aside .manager__information {
  margin: 0 0 9px 0;
  font-weight: 300;
  letter-spacing: 0.2px;
}
/*# sourceMappingURL=style.css.map */