html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .main-page{
    margin: 0;
    padding: 0;
    min-width: 1280px;	
    font: 16px/1em 'Roboto', sans-serif;
    overflow: show;
  }

  .main{
    display: flex;
    width: 1280px;
    margin: 0 auto;

    &__content{
      width: 100%;
      margin: 19px 0 0 44px;
    }
  } 

  